.navbar {
  position: absolute;  /* Overlay on the image */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent for readability */
  z-index: 10; /* Ensures navbar stays on top */
}

#name {
  font-size: 42px;
  font-weight: 500;
  font-family: Cooper;
  margin-left: 50px;
  color: rgb(1, 8, 16);
}

.menu-list {
  margin: 15px 20px;
}

.menu-list a {
  margin: 10px 10px;
  padding: 12px 15px;
  color: rgb(13, 121, 245);
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
